# BACKEND ENVIRONMENT
NODE_ENV=development
CHOKIDAR_USEPOLLING=true
CHOKIDAR_INTERVAL=1000

# SERVER
PORT=8000

# DATABASE
DATABASE_URL=postgresql://username:password@localhost:5432/mydatabase

# CACHE
REDIS_URL=redis://:my_secure_password@localhost:6379/0

# BETTER AUTH
JWT_SECRET=your-secret-key-change-this

# APPS CONNECTION
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:3000/api # Use this if you use reverse proxy that I make, if you run it seprately use like: http://localhost:8000/api